.quiz-intro {
    position: absolute;
    inset: 0;
    z-index: 1000;
  
    display: flex;
    flex-direction: column;   /* stack text + button */
    justify-content: center;
    align-items: center;
    gap: 24px;                /* space between text & button */
  
    pointer-events: auto;
  }
  
  
  .start-quiz-btn {
    z-index: 1001;
    margin-top: 180px;
    padding: 14px 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    pointer-events: auto;
    background-color: rgb(171, 163, 158);
  }

  .start-quiz-btn:hover {
    background-color: rgb(189, 42, 5) !important;
    color: white;
  }
  
  
  .quiz-container {
    text-align: center;
    padding: 20px;
    background-color: #edbec7;
    /* width: 100vw; */
    height: 100vh;
  }

.question {
  display: flex;
  justify-content: center;
  /* padding-right: 20px; */
  /* margin-right: 20px; */
}
  
  .options {
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* width: 90%; */
    /* margin: 20px 0; */
  }
  
  .option-btn {
    padding: 14px;
    border-radius: 12px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    /* margin-right: 20px;
    margin-left: 20px; */
  }

  .option-btn:hover {
    background: rgb(193, 190, 190);
    border: 1px solid #ccc;
  }

  .option-btn.selected {
    background: #ffd700;
    font-weight: 1000;
    border: 1px solid #ccc !important;
  }
  
  .quiz-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .nav-btn,
  .submit-btn {
    /* padding: 12px 24px; */
    border-radius: 20px;
    cursor: pointer;
    /* padding: 14px; */
    border-radius: 12px;
    border: 1px solid #ccc;
    background: white;
    /* margin-right: 20px;
    margin-left: 20px; */
  }

  .nav-btn:hover,
  .submit-btn:hover {
    background: rgb(193, 190, 190);
  }

  .submit-btn {
    background: #ff4d6d;
    color: white;
  }
  
  .quiz-result {
    text-align: center;
    font-size: 1.6rem;
  }

  .quiz-warning {
    margin-top: 16px;
    color: #f30e38;
    font-weight: 600;
    animation: shake 0.4s ease-in-out;
  }
  
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }
  
  